<nav class="navbar navbar-default navbar-fixed-top">
    <div class="icon-bar">
        <a class="active" href="{% url 'lab-9:index' %}"><img class="img" src="http://parysgazette.co.za/wp-content/uploads/sites/116/2017/08/Home-PNG-Image.png" height="45px" align="center"></a>
        <a href="{% url 'lab-9:auth_logout' %}"><b>Logout</b></a>
    </div>
</nav>

<div class="spacer">
</div>