{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {
        $.ajax({
            method: "GET",
            url: "{% url 'lab-7:get-friend-list' %}",
            success: function(friend_list) {
                var friend_list = JSON.parse(friend_list);
                $.each(friend_list, function(index, friend) {
                    var button = '<button type="button" class="btn btn-xs btn-danger"' +
                        'onClick="deleteFriend(' + friend.pk + ')">' +
                        '&times; Remove Friend' +
                        '</button>' +
                        '</span>';
                    var html = '<a class="list-group-item clearfix" href="javascript:detailFriend(' + friend.pk + ')">' + friend.fields.friend_name + '</a>' + button;

                    $("#friend-list").append(html)
                })

            },
            error: function(error) {
                alert("Tidak ada mahasiswa yang menjadi teman")
            }
        });
    });

    function deleteFriend(id) {
        /*alert("Apakah Anda akan menghapus " + friend.friend_name + " dari daftar teman?");*/
        window.open('../delete-friend/' + id + '/', '_self');
    }

    function detailFriend(id) {
        window.open('../friend-description/' + id + '/', '_self');
    }
</script>
{% endblock %}
